*.class
*.lst
*.netbeans_automatic_build
*org.eclipse.jdt.core.prefs
*org.eclipse.core.resources.prefs
*.project
*.gitignore
*.classpath
*private.properties

/TEMA 7/tarea1GUIGabrielAllende/target/
/TEMA 6/Tema6GabrielAllende/target/
/TEMA 7/p62GabrielAllende/target/
/Practicas/P5EGabrielAllende/target/
/Practicas/p62GabrielAllende/target/
/TEMA 7/Tema7GabrielAllende/target/
/TEMA 6/tarea1GUIGabrielAllende/target/
/TEMA 6/tarea2GUIGabrielAllende/target/
/TEMA 7/ficherosJava/target/
/Practicas/Tarea7AGabrielAllende/target/
/Practicas/tarea7bGabrielAllende/target/
/Practicas/tarea7cGabrielAllende/target/
/TEMA 7/backendjavaJson/target/
/TEMA 7/backendjavaJsonGABRIEL/target/
/TEMA 7/backendjavaJsonVICO/target/
/.metadata/
/Examenes/ExamenT7ANTERIOR/target/
/Examenes/ex17GabrielAllende/target/
